<div class="d-flex justify-content-center align-items-center spinnerLoader" *ngIf="loading">
    <i class="fa fa-refresh fa-spin"></i>
    <span>Oldal betöltése...</span>
</div>
<div class="bg">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="page-footer font-small indigo">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="#">Valami.hu</a>
    </div>
</footer>
<!-- Footer -->

<!-- Message Modal -->
<div mdbModal #messageModal="mdbModal" [config]="{ignoreBackdropClick: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="messageModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                {{msg}}
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="messageModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
            </div>
        </div>
    </div>
</div>