<div id="content" class="pb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5 mb-2">
                <h2 class="text-white">Profilom</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-md-0 mb-5">
                <div id="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <i class="fa fa-user prefix bet-green-text"></i>
                                <input type="text" id="username" class="form-control" value="blaskodaniel" mdbInputDirective>
                                <label for="username">Felhasználónevem</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <i class="fa fa-envelope prefix bet-green-text"></i>
                                <input type="text" id="email" class="form-control" value="blaskoi@gmail.com" mdbInputDirective disabled>
                                <label for="email">Email címem</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <i class="fa fa-lock prefix bet-green-text"></i>
                                <input type="password" id="password" class="form-control" value="bastya" mdbInputDirective>
                                <label for="password">Jelszavam</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <i class="fa fa-lock prefix bet-green-text"></i>
                                <input type="password" id="password2" class="form-control" value="bastya" mdbInputDirective>
                                <label for="password2">Jelszavam újra</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <a class="btn btn-success">Mentés</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>