<div class="container mt-2">
    <div class="d-flex justify-content-center align-items-center p-2">
        <!-- Card -->
        <div class="card mb-4">
            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Bejelentkezés</h4>
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="email" id="inputValidationEx" class="form-control validate">
                    <label for="inputValidationEx" data-error="wrong" data-success="right">Type your email</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="inputValidationEx2" class="form-control validate">
                    <label for="inputValidationEx2" data-error="wrong" data-success="right">Type your password</label>
                </div>
                <div class="md-form">
                    <input type="text" id="form1" class="form-control">
                    <label for="form1">Example label</label>
                </div>
                <button type="button" class="btn btn-light-blue btn-md">Read more</button>

            </div>

        </div>
        <!-- Card -->
    </div>

</div>