<!--Main Navigation-->
<header>

    <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo" [containerInside]="false">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="">Fogadó</a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/profile']">Profile ({{score}})</a>
                </li>
                <li class="nav-item hidden">
                    <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
                </li>
                <li class="nav-item dropdown btn-group hidden" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            Basic dropdown<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" href="#" mdbWavesEffect [routerLink]="['/home']">Home</a>
                        <a class="dropdown-item waves-light" href="#" mdbWavesEffect [routerLink]="['/profile']">Profile</a>
                        <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" href="#" mdbWavesEffect>Separated link</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 mb-xs-1" type="text" placeholder="username" aria-label="username">
                        <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password">
                        <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Bejelentkezés</button>
                        <button class="btn btn-outline-warning btn-sm my-2 my-sm-0" type="button" [routerLink]="['/register']">Regisztráció</button>
                    </div>
                </li>

                <li class="nav-item hidden">
                    <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/login']">Login</a>
                </li>
            </ul>

        </links>
    </mdb-navbar>

</header>
<!--Main Navigation-->