<div id="content" class="pb-5 mt-5">
    <div class="container">
        <!-- SLIDER  -->
        <div class="row" *ngIf="isBannerShow">
            <!--Carousel Wrapper-->
            <mdb-carousel class="bannerimg" [isControls]="true" [animation]="'slide'">
                <!--First slide-->
                <mdb-carousel-item>
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong pt-2 pb-5 px-4 w-100">
                        <div class="w-100 p-3">
                            <div class="front-match d-flex flex-column justify-content-center p-3">
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                                    </div>
                                    <div class="d-felx flex-column">
                                        <div class="flex-fill">
                                            <h3 class="card-title pt-2"><strong>Brazíla - Svájc</strong></h3>
                                        </div>
                                        <div class="flex-fill">
                                            <p>Ma 16:00</p>
                                        </div>
                                    </div>
                                    <d class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                                    </d>
                                </div>
                                <div class="front-match-bets d-flex flex-row justify-content-around">
                                    <button type="button" class="btn btn-sm btn-primary" (click)="modalOpen(5.23)">5.23</button>
                                    <button type="button" class="btn btn-sm btn-primary" (click)="modalOpen(1.04)">1.04</button>
                                    <button type="button" class="btn btn-sm btn-primary" (click)="modalOpen(2.21)">2.21</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                </mdb-carousel-item>
                <!--/First slide-->
                <!--Second slide-->
                <mdb-carousel-item>
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong pt-2 pb-5 px-4 w-100">
                        <div class="w-100 p-3">
                            <div class="front-match d-flex flex-column justify-content-center p-3">
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                                    </div>
                                    <div class="d-felx flex-column">
                                        <div class="flex-fill">
                                            <h3 class="card-title pt-2"><strong>Magyarország - Oroszország</strong></h3>
                                        </div>
                                        <div class="flex-fill">
                                            <p>Ma 18:00</p>
                                        </div>
                                    </div>
                                    <d class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                                    </d>
                                </div>
                                <div class="front-match-bets d-flex flex-row justify-content-around">
                                    <button type="button" class="btn btn-sm btn-primary">5.23</button>
                                    <button type="button" class="btn btn-sm btn-primary">1.04</button>
                                    <button type="button" class="btn btn-sm btn-primary">2.21</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                </mdb-carousel-item>
                <!--/Second slide-->
                <!--Third slide-->
                <mdb-carousel-item>
                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong pt-2 pb-5 px-4 w-100">
                        <div class="w-100 p-3">
                            <div class="front-match d-flex flex-column justify-content-center p-3">
                                <div class="d-flex flex-row justify-content-center">
                                    <div class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                                    </div>
                                    <div class="d-felx flex-column">
                                        <div class="flex-fill">
                                            <h3 class="card-title pt-2"><strong>Fradi - Újpest</strong></h3>
                                        </div>
                                        <div class="flex-fill">
                                            <p>Holnap 16:00</p>
                                        </div>
                                    </div>
                                    <d class="flex-fill d-none d-sm-block">
                                        <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                                    </d>
                                </div>
                                <div class="front-match-bets d-flex flex-row justify-content-around">
                                    <button type="button" class="btn btn-sm btn-primary">5.23</button>
                                    <button type="button" class="btn btn-sm btn-primary">1.04</button>
                                    <button type="button" class="btn btn-sm btn-primary">2.21</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content -->
                </mdb-carousel-item>
                <!--/Third slide-->
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
        </div>

        <div class="row d-none">
            <!-- Card -->
            <div class="card card-image mb-3 bannerimg">

                <!-- Content -->
                <div class="text-white text-center d-flex align-items-center justify-content-center rgba-black-strong pt-2 pb-5 px-4">
                    <div class="w-100">
                        <h3 class="card-title pt-2"><strong>Kiemelt fogadások</strong></h3>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="front-match d-flex flex-column justify-content-center p-3">
                                    <div class="front-match-title">
                                        <div class="d-flex flex-row justify-content-center">
                                            <div class="flex-fill d-none d-sm-block">
                                                <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                                            </div>
                                            <div class="front-match-team flex-fill p-2 h5">Magyarország - Franciaország</div>
                                            <d class="flex-fill d-none d-sm-block">
                                                <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                                            </d>
                                        </div>
                                    </div>
                                    <div class="front-match-bets d-flex flex-row justify-content-around">
                                        <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                        <button type="button" class="btn btn-sm btn-primary">2.23</button>
                                        <button type="button" class="btn btn-sm btn-primary">3.21</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="front-match d-flex flex-column justify-content-center p-3">
                                    <div class="front-match-title">
                                        <div class="d-flex flex-row justify-content-center">
                                            <div class="flex-fill d-none d-sm-block">
                                                <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                                            </div>
                                            <div class="front-match-team flex-fill p-2 h5">Magyarország - Franciaország</div>
                                            <d class="flex-fill d-none d-sm-block">
                                                <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                                            </d>
                                        </div>
                                    </div>
                                    <div class="front-match-bets d-flex flex-row justify-content-around">
                                        <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                        <button type="button" class="btn btn-sm btn-primary">2.23</button>
                                        <button type="button" class="btn btn-sm btn-primary">3.21</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
            </div>
            <!-- Card -->
        </div>

        <!-- MÉRKŐZÉSLISTA  -->
        <hr *ngIf="isBannerShow" />
        <div class="row">
            <div class="col-12 text-center mt-5 mb-2">
                <h2 class="text-white">Mai mérkőzések</h2>
            </div>
            <div class="col-12">
                <div *ngFor="let i = index;let last = last;let item of matchList" class="match-container border border-dark animated fadeIn mt-3">
                    <div class="d-flex justify-content-between information-container finishmatch">
                        <div class="mobile-flag">
                            <img src="./assets/Flags/{{item.teamA.flag}}" alt="flag" class="img-flag">
                        </div>
                        <div class="information align-self-center">1 - 2</div>
                        <div class="mobile-flag">
                            <img src="./assets/Flags/{{item.teamB.flag}}" alt="flag" class="img-flag">
                        </div>
                    </div>
                    <div class="simplebetting-container d-flex p-2">
                        <div class="hometeam flex-fill text-right align-self-center">{{item.teamA.name}}</div>
                        <div class="matchresult flex-fill text-center align-self-center">1</div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/{{item.teamA.flag}}" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="betting flex-fill text-center p-1 d-flex justify-content-around">
                            <button type="button" (click)="modalOpen(item,1.23,1)" class="btn btn-sm btn-primary">1.23</button>
                            <button type="button" (click)="modalOpen(item,2.23,x)" class="btn btn-sm btn-primary">2.23</button>
                            <button type="button" (click)="modalOpen(item,3.21,2)" class="btn btn-sm btn-primary">3.21</button>
                        </div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/{{item.teamB.flag}}" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="matchresult flex-fill text-center align-self-center">2</div>
                        <div class="awayteam flex-fill text-left align-self-center">{{item.teamB.name}}</div>
                    </div>
                    <div class="openmorebetting text-center p-1 border-top border-bottom" (click)="morebetbtn.toggle()">
                        További fogadások a mérkőzésre
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="morebetting-container p-2 collapse" [mdbCollapse]="isCollapsed" #morebetbtn="bs-collapse">
                        <p class="morebetting-title">KÉTESÉLY</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Döntetlen</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Döntetlen vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <p class="morebetting-title">GÓLSZÁM 0,5</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Kevesebb, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Több, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- Betting Modal -->
<div mdbModal #bettingModal="mdbModal" [config]="{ignoreBackdropClick: true}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="bettingModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h5 class="modal-title w-100">Új szelvény</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <div class="createBetForm">
                            <div class="betInfo">
                                <h5>{{modalCoupon?.teamA.name}} - {{modalCoupon?.teamB.name}}</h5>
                                <div class="lead">Tipp: {{modalCoupon?.teamA.name}}</div>
                            </div>
                            <hr class="w-50" />
                            <form [formGroup]="createBetFormGroup" class="form-group">
                                <label>Feltett tét:</label>
                                <select formControlName="createBetControl" class="form-control">
                                    <option [value]="betvalue" *ngFor="let betvalue of betValues">{{betvalue}}</option>
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="bettingModal.hide()" mdbWavesEffect>Mégsem</button>
                <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="createBetting()" mdbWavesEffect>Fogadok</button>
            </div>
        </div>
    </div>
</div>