<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Mai mérkőzések</h2>
            </div>
            <div class="col-12">
                <div class="match-container border border-dark">
                    <div class="d-flex justify-content-between information-container finishmatch">
                        <div class="mobile-flag">
                            <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                        </div>
                        <div class="information align-self-center">1 - 2</div>
                        <div class="mobile-flag">
                            <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                        </div>
                    </div>
                    <div class="simplebetting-container d-flex p-2">
                        <div class="hometeam flex-fill text-center align-self-center">Franciaország</div>
                        <div class="matchresult flex-fill text-center align-self-center">1</div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="betting flex-fill text-center p-1 d-flex justify-content-around">
                            <button type="button" class="btn btn-sm btn-primary">1.23</button>
                            <button type="button" class="btn btn-sm btn-primary">2.23</button>
                            <button type="button" class="btn btn-sm btn-primary">3.21</button>
                        </div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/england.png" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="matchresult flex-fill text-center align-self-center">2</div>
                        <div class="awayteam flex-fill text-center align-self-center">Horvátország</div>
                    </div>
                    <div class="openmorebetting text-center p-1 border-top border-bottom" data-toggle="collapse" href="#morebettingcollapse" role="button" aria-expanded="false" aria-controls="morebettingcollapse">
                        További fogadások a mérkőzésre
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="morebetting-container p-2 collapse" id="morebettingcollapse">
                        <p class="morebetting-title">KÉTESÉLY</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Döntetlen</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Döntetlen vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <p class="morebetting-title">GÓLSZÁM 0,5</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Kevesebb, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Több, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="match-container border border-dark mt-3">
                    <div class="d-flex justify-content-between information-container">
                        <div class="mobile-flag">
                            <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag">
                        </div>
                        <div class="information align-self-center">Hosszabítás után (2-1)</div>
                        <div class="mobile-flag">
                            <img src="./assets/Flags/england.png" alt="flag" class="img-flag">
                        </div>
                    </div>
                    <div class="simplebetting-container d-flex p-2">
                        <div class="hometeam flex-fill text-center align-self-center">Franciaország</div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/belgium.png" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="betting flex-fill text-center p-1 d-flex justify-content-around">
                            <button type="button" class="btn btn-sm btn-primary">1.23</button>
                            <button type="button" class="btn btn-sm btn-primary">2.23</button>
                            <button type="button" class="btn btn-sm btn-primary">3.21</button>
                        </div>
                        <div class="flex-fill text-center">
                            <img src="./assets/Flags/england.png" alt="flag" class="img-flag desktop-flag">
                        </div>
                        <div class="awayteam flex-fill text-center align-self-center">Horvátország</div>
                    </div>
                    <div class="openmorebetting text-center p-1 border-top border-bottom" data-toggle="collapse" href="#morebettingcollapse2" role="button" aria-expanded="false" aria-controls="morebettingcollapse2">
                        További fogadások a mérkőzésre
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div class="morebetting-container p-2 collapse" id="morebettingcollapse2">
                        <p class="morebetting-title">KÉTESÉLY</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Döntetlen</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Belgium vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-12 col-md-4">
                                <div class="morebetting-text flex-fill align-self-center">Döntetlen vagy Anglia</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm btn-primary">1.23</button>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <p class="morebetting-title">GÓLSZÁM 0,5</p>
                        <div class="morebetting-item d-flex mb-1 row">
                            <div class="bettingbox flex-fill text-center d-flex border-right col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Kevesebb, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm bg-light border-light">1.23</button>
                                </div>
                            </div>
                            <div class="bettingbox flex-fill text-center d-flex col-xs-12 col-sm-4">
                                <div class="morebetting-text flex-fill align-self-center">Több, mint 0,5</div>
                                <div class="flex-fill align-self-center">
                                    <button type="button" class="btn btn-sm bg-light border-light">1.23</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>