/* You can add global styles to this file, and also import other style files */

// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0 0 100px;
}

.bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 800px;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right top, #051937, #004469, #007389, #00a38d, #64cf7b);
}

.hidden {
    display: none;
}

.bet-green-text {
    color: #00c851 !important;
}

.modal-header {
    background-color: #4eb155;
    color: white;
}

.btn.btn-sm {
    padding: 0.3rem 1.0rem;
    font-size: 0.9rem;
}

footer.page-footer {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.footer-copyright {
    height: 100px;
}


/* MOBILE */

@media only screen and (max-width: 768px) {
    .bg {
        min-height: 0;
    }
}