/* You can add global styles to this file, and also import other style files */

// @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right top, #051937, #004469, #007389, #00a38d, #64cf7b);
}

.btn.btn-sm {
    padding: 0.3rem 1.0rem;
    font-size: 0.9rem;
}